<h1> <%=@world_city.name%>, "<%=@world_city.nickname%>" </h2>

<h2> <%=@world_city.country%> </h2>
<img src="/images/<%=@world_city.country_flag_filename%>">

<h2> Time Zone </h2>
<h2> UTC +0<%=@world_city.time_zone_offset%>00</h2>

<h2> Official URL </h2>
<a href="<%=@world_city.official_url%>"><%=@world_city.official_url%></a>

<h2> River </h2>
<h2> <%=@world_city.river%> </h2>