<h1>Edit or add new goat</h1>

<h3> Name <%= text_field_tag "name" %></h3>
<h3> Gender <%= text_field_tag "gender" %></h3>
<h3> Best 100 meter time <%= text_field_tag "best_100m_time" %> </h3>
<h3> Dietary Preference <%= text_field_tag "dietary_preference" %> </h3>

<%= submit_tag "SAVE" %>